---
import PageLayout from "@/layouts/Base.astro";
import { Content as MainText } from "@/content/explorations.md";
---

<PageLayout meta={{ title: "Explorations" }}>
	<section>
		<h1 class="title mb-12">Explorations</h1>
		<div class="prose prose-sm prose-cactus max-w-none">
			<MainText />
		</div>
	</section>
</PageLayout>
