---
import PageLayout from "@/layouts/Base.astro";
import { Content as MainText } from "@/content/le-coeur.md";
---

<PageLayout meta={{ title: "Le Coeur" }}>
	<section>
		<h1 class="title mb-12">Le Coeur</h1>
		<div class="prose prose-sm prose-cactus max-w-none">
			<MainText />
		</div>
	</section>
</PageLayout>
